<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

 <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.sitereview.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>postComment</servlet-name>
    <servlet-class>com.sitereview.server.SubmitComment</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>executeAdmin</servlet-name>
    <servlet-class>com.sitereview.server.Admin</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/hoasitereview/greet</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>postComment</servlet-name>
    <url-pattern>/postComment</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>executeAdmin</servlet-name>
    <url-pattern>/executeAdmin</url-pattern>
  </servlet-mapping>
  
  
  <context-param>
    <param-name>
         org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG
     </param-name>
     <param-value>/WEB-INF/tiles-defs.xml</param-value>
      <description>Tiles configuration file</description>
</context-param>
<servlet>
     <servlet-name>tiles</servlet-name>
     <servlet-class>
         org.apache.tiles.web.startup.TilesServlet
     </servlet-class>
     <load-on-startup>2</load-on-startup>
</servlet>
<servlet>
     <servlet-name>tiles_dispatch</servlet-name>
     <servlet-class>
         org.apache.tiles.web.util.TilesDispatchServlet
     </servlet-class>
</servlet>
<servlet-mapping>
     <servlet-name>tiles_dispatch</servlet-name>
     <url-pattern>*.tiles</url-pattern>
</servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.tiles</welcome-file>
  </welcome-file-list>



</web-app>
